{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h2>Vos séries :</h2>
        {% if shows is not empty %}
            {% for show in shows %}
                <a href="{{ path('show_detail', { 'id': show.id }) }}" ><li>{{ show.title }}</li></a>
            {% endfor %}
        {% else %}
        <p>Vous n'avez pas encore enregistré de série...</p>
        {% endif %}
    <a href="">Ajouter une série :</a>
{% endblock %}