{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h2>Vos séries :</h2>
        {% if shows is not empty %}
            <div class="list-group">
                {% for show in shows %}
                    <a class="list-group-item list-group-item-action" href="{{ path('show_detail', { 'id': show.id }) }}" >{{ show.title }}</a>
                {% endfor %}
            </div>
        {% else %}
        <p>Vous n'avez pas encore enregistré de série...</p>
        {% endif %}
    <a href="{{ path('show_add') }}">Ajouter une série</a>
{% endblock %}