{% extends 'base.html.twig' %}

{% block title %}ShowDB - Catégories{% endblock %}

{% block body %}
    <h2>{{ category.label }}</h2>
    {% if category.shows is not empty %}
        <div class="list-group">
            {% for show in category.shows %}
                <a class="list-group-item list-group-item-action" href="{{ path('show_detail', {'id': show.id }) }}">{{ show.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>Vous n'avez pas encore de série dans cette catégorie</p>
    {% endif %}
{% endblock %}