{% extends 'base.html.twig' %}

{% block title %}ShowDB{% endblock %}

{% block body %}
<h1>Bienvenue sur ShowDB !</h1>
<p><strong>Le site où vous pouvez enregistrer vos séries préférées...</strong></p>

<h2>Vos dernières séries :</h2>
    {% if shows is not empty %}
        {% for show in shows %}
            <div class="card col-sm-4">
                <div class="card-body">
                    <div class="bg-info mb-2" style="width: 100%; height: 100px"></div>
                    <h5 class="card-title">{{ show.title }}</h5>
                    <a class="card-link" href="{{ path('show_detail', { 'id': show.id }) }}" >Voir le détail</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>Vous n'avez pas encore enregistré de série...</p>
    {% endif %}
    <a href="{{ path('show_add') }}">Ajouter une série</a>

{% endblock %}
