<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <a href="{{ path('homepage') }}" ><li>Accueil</li></a>
                <a href="{{ path('show_list') }}" ><li>Toutes mes séries</li></a>
                <a href="{{ path('categories_list') }}" ><li>Catégories</li></a>
            </ul>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
